body 
{
    background-color: lightblue;
}



#footer {
clear: both;
background-color: #ffffff;
padding-bottom: 1em;
border-top: 1px solid #333;
border-bottom: 1px solid #333;
padding-left: 200px;
}
a:link, a:visited{
color: #AAB5A7;
font-size: 1.4em;
text-decoration: none;
background-color: #0099ff;
}

a:hover, a:active{
color: #D2AC95;
font-size: 1.4em;
text-decoration: none;
}

ul {
margin: 0px;
padding: 0x;
list-style-type: none;
}

li a {
width: 200px;
height: 18px;
background-color: #162d59;
padding: 20px;
border-left: solid 4px #5483BF;
color: #F2E4C9;
text-decoration: none;
display: block
}


li a:hover {
color: white;
border-left: solid 4px #F2E4C9;
background-color: solid 4px #F3E4C9;
}

	
	